<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./head'); %>
  </head>
  <body>
    <%- include('./header'); %>

    <section class="about_page">
      <div class="ml-5 mb-5">
        <h2 class="text-center mt-5 mb-4">Welcome to Laugh Loud</h2>
        <img class="side_img float-right mr-5" src="images/u1.jpg" />
        <p class="para text-justify mt-5 mb-5">
          <b>Laugh Loud </b>Lorem ipsum dolor sit amet, consectetur adipisicing
          elit. Commodi delectus aspernatur temporibus illo, ratione officia
          atque quaerat obcaecati pariatur earum facere aut cum. Assumenda
          cupiditate amet ratione consequuntur consectetur. Facere odio magnam
          eum adipisci, quam ad earum quis quisquam quaerat accusamus labore
          quas totam porro placeat, ratione repudiandae consequatur
          cupiditate!<br /><br />

          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus
          vitae esse sapiente odit sit quia fuga, alias officia quidem, soluta
          beatae, explicabo debitis porro nobis libero nam recusandae quo veniam
          eius harum sunt labore iure. Vel laborum corporis, expedita, est
          praesentium non provident fugit illum unde aperiam earum sequi
          corrupti.<br /><br />

          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati a
          doloribus itaque corporis totam perspiciatis sint aut natus at magni.
        </p>
      </div>

      <div class="about_desc text-center pb-5">
        <h2 class="text-center mt-5 mb-5">Why LaughLoud?</h2>

        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0 text-left ml-1">
                <button
                  class="btn btn-link text-left"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                  style="width: 100%"
                >
                  <i class="fa fa-plus pr-2" aria-hidden="true"></i> Direct &
                  Direct Laughing
                </button>
              </h5>
            </div>

            <div
              id="collapseOne"
              class="collapse show"
              aria-labelledby="headingOne"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <img class="my-1" src="images/u1" /> <br /><br />
                <p class="text-justify">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. A
                  harum cum cupiditate suscipit ipsam dolorem! Voluptates esse
                  iusto laudantium quo!
                </p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0 text-left ml-1">
                <button
                  class="btn btn-link collapsed text-left"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                  style="width: 100%"
                >
                  <i class="fa fa-plus pr-2" aria-hidden="true"></i> College run
                  by the Pioneers in UK Education
                </button>
              </h5>
            </div>
            <div
              id="collapseTwo"
              class="collapse"
              aria-labelledby="headingTwo"
              data-parent="#accordionExample"
            >
              <div class="card-body mt-5">
                <p class="text-justify">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut
                  cum a ab, facilis labore consectetur illum eos odit voluptates
                  quasi.
                </p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0 text-left ml-1">
                <button
                  class="btn btn-link collapsed text-left"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                  style="width: 100%"
                >
                  <i class="fa fa-plus pr-2" aria-hidden="true"></i> British
                  style of learning
                </button>
              </h5>
            </div>
            <div
              id="collapseThree"
              class="collapse"
              aria-labelledby="headingThree"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <img class="my-1" src="images/u1.jpg" />
                <br /><br />
                <p class="text-justify">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Deserunt excepturi dolor magnam repellendus praesentium optio
                  in molestias voluptatibus pariatur quo.
                </p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0 text-left ml-1">
                <button
                  class="btn btn-link collapsed text-left"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseFour"
                  aria-expanded="false"
                  aria-controls="collapseFour"
                  style="width: 100%"
                >
                  <i class="fa fa-plus pr-2" aria-hidden="true"></i>
                  International Exposure
                </button>
              </h5>
            </div>
            <div
              id="collapseFour"
              class="collapse"
              aria-labelledby="headingFour"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <img class="my-1" src="images/u1.jpg" /><br /><br />
                <p class="text-justify">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Provident inventore aspernatur consequuntur facilis illum
                  labore autem corrupti nulla quis voluptatibus?
                </p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingFive">
              <h5 class="mb-0 text-left ml-1">
                <button
                  class="btn btn-link collapsed text-left"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseFive"
                  aria-expanded="false"
                  aria-controls="collapseFive"
                  style="width: 100%"
                >
                  <i class="fa fa-plus pr-2" aria-hidden="true"></i> The Finest
                  Resources
                </button>
              </h5>
            </div>
            <div
              id="collapseFive"
              class="collapse"
              aria-labelledby="headingFive"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <img class="my-1" src="images/u1.jpg" /><br /><br />
                <p class="text-justify">
                  LaughLoud offers a high quality academic and social
                  facilities, which will help you get the best possible
                  education, and enjoy your learnings at the same time. You will
                  also have access to excellent university while studying here.
                </p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingSix">
              <h5 class="mb-0 text-left ml-1">
                <button
                  class="btn btn-link collapsed text-left"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseSix"
                  aria-expanded="false"
                  aria-controls="collapseSix"
                  style="width: 100%"
                >
                  <i class="fa fa-plus pr-2" aria-hidden="true"></i> Learn from
                  the best
                </button>
              </h5>
            </div>
            <div
              id="collapseSix"
              class="collapse"
              aria-labelledby="headingSix"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <p class="text-justify">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Cupiditate eos repellat earum cumque esse nulla veniam
                  perferendis suscipit dolores ipsam?
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer><%- include('./footer'); %></footer>
  </body>
</html>
