<div class="footer font-small teal pt-4">




<div class="container-fluid text-center text-md-left">

    <div class="row">

	    <div class="col-md-4 mt-md-0 mt-3">
	        <h5 class="text-uppercase font-weight-bold mt-3 ml-4">Contact info</h5>
	        <p class="font-weight-bold mt-2 ml-4">
	        For more information, you can contact us at:<br>
			Phone num: 98765898989, 01-2345678<br>
			<a  style="color: white; text-decoration: underline;">Email us : LaughLoud@gmail.com</a><br>
			Address: LaughLoud, Naxal Kamalpokahri Kathmandu
			</p>
	    </div>
      
	    <div class="col-md-4 mt-md-0 mt-3">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3532.5051495270695!2d85.34093545022182!3d27.701685466472725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb1980cc25b96b%3A0x1a28daa42b068790!2zUHVyYW5vIEJhbmVzaHdvciBDaG9rIOCkquClguCksOCkvuCkqOCliyDgpKzgpL7gpKjgpYfgpLbgpY3gpLXgpLAg4KSa4KWL4KSV!5e0!3m2!1sen!2snp!4v1620926124462!5m2!1sen!2snp"  style="border:0;" allowfullscreen="" loading="lazy"></iframe>	    </div>
      
        <div class="col-md-4 mb-md-0 mb-3">
			<h5 class="text-uppercase font-weight-bold mt-3 ml-4">Additional Links</h5>
	       	<div class="nav-item pl-4 font-weight-bold">
				<a href="/" class="nav-link text-white"> Home </a>
				<a href="/events" class="nav-link text-white"> Events </a>
				<a href="/gallery" class="nav-link text-white"> Gallery </a>
				
			</div>
        </div>

    </div>
  </div>

  <div class="footer-icon text-center mb-5 ml-5">
		<a href="https://www.facebook.com"><img src="/images/facebook.png" style=" border-radius: 50%;"></a>
		<a href="https://www.youtube.com"><img src="/images/youtube.png" style=" border-radius: 50%;"><a>
		<a href="https://www.instagram.com"><img src="/images/instagram.png" style=" border-radius: 50%;"></a>
	</div>

  <p class="text-center pb-4"> Copyright &copy; 2021, By Group, All Right Reserved</p>
<script src="/js/bundle.js"></script>

</div>